extends layout

block content

    .jumbotron
        .container
            h1 Contact Us
            h6 This is a sample paragraph.
    .container.pt-4
        form(method='post', action='contact/send')
            h1 Contact
            .form-group
                label Name
                input.form-control(type='text', name='name', placeholder='Enter Name' required)

            .form-group
                label Email
                input.form-control(type='email', name='email', placeholder='Enter Email' required)

            .form-group
                label Message
                textarea.form-control(name='message', placeholder='Enter Message...' required)
            br
            button.btn.btn-outline-primary(type='submit') Submit
